.greenBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(88, 191, 67, 0.9);
    padding: 10px;
    z-index: 1;
    backdrop-filter: blur(5px);
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .logoContainer:hover {
    transform: scale(1.1);
  }

  .GithubButton {
    position: fixed;
    font-family: 'Gilroy', Gilroy;
    font-weight: bolder;
    top: 15px;
    left: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(88, 191, 67);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  
  .GithubButton:hover {
    background-color: #58bf43;
    color: #ffffff;
    transform: scale(1.1);
  }

  @media (max-width: 767px) {
    .GithubButton {
      top: 92%;
      left: 3%;
    }
  }

  .GithubButton:hover::before {
    content: '';
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.588), transparent);
    animation: loadingAnimation 1.5s infinite ease-in-out;
  }

  .background {
    background-color: rgb(234, 234, 230)
  }

  .modal {
    display: flex;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
  }

  .modalContent {
    position: relative;
    margin: auto;
    display: block;
    max-height: 700px;
    max-width: 700px;
  }

  .navigationButton {
    position: fixed;
    top: 50%;
    font-size: 70px;
    cursor: pointer;
    color: rgba(88, 191, 67, 0.7);
    padding: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .navigationButton:hover {
    color: rgb(88, 191, 67);
    font-size: 77px;
  }
  
  .previousButton {
    left: 0;
    transform: translateY(-50%);
  }
  
  .nextButton {
    right: 0;
    transform: translateY(-50%);
  }

  .close {
    position: fixed;
    top: 1px;
    right: 20px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    cursor: pointer;
  }
  
  @keyframes loadingAnimation {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
